/* banner */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner h1 {
  color: #ffe0b2;
}
.banner .contact-action {
  background-color: #ffe0b2;
  color: black;
}
